<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <meta charset="utf-8">
  {{- partial "seo_schema" . -}}
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  {{- partial "head.html" . -}}
  <header>
    <nav class="navbar navbar-expand navbar-dark sticky-top bg-dark">
      {{ if .Site.Params.logo }}
      <a href="/" >
	<img class="nav_logo" src="{{ .Site.Params.logo }}" alt="{{ .Site.Params.welcomeText }}">
      </a>
      {{ else }}
      <a class="navbar-brand" href="/">{{ .Site.Params.welcomeText }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {{ end }}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
          </li>
	  <li class="nav-item{{ if eq .RelPermalink "/about/" }} active{{ end }} ">
	    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
          </li>
	  <li class="nav-item{{ if eq .RelPermalink "/tech/" }} active{{ end }}">
	    <a class="nav-link" href="/tech">Tech. Details <span class="sr-only">(current)</span></a>
	  </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <main role="main" class=" mt-3 container">
      <div class="bg-dark p-5 rounded text-light">
	<h1>{{ .Title }}</h1>
	<hr>
	  {{ .Content }}
      </div>
    </main>
  {{- partial "js.html" . -}}
</body>
</html>


