html, body {
    height: 100%;
}

body {
    /*display: -ms-flexbox;
    display: flex;
    */-ms-flex-align: center;
    align-items: center;
    background: url("../images/bg.jpg");
    background-size: cover;
}

h1 {
    color: #ffffff;
}

h5 {
  font-size: 1.15rem !important;
}

.card {
    opacity: 0.8;
}
.card:hover {
    opacity: 1.0;
}

.cursorPointer:hover {
    cursor: pointer;
}

.nav_logo {
  max-height: 32px;
  width: auto;
}
